<div class="activities">
  <div class="activities__header">
    <h2>Recent Activities</h2>
  </div>
  {% for comment in comments %}
  <div class="activities__box">
    <div class="activities__boxHeader roomListRoom__header">
      <a
        href="{% url 'user-profile' comment.user.id%}"
        class="roomListRoom__author"
      >
        <div class="avatar avatar--small">
          <img src="https://randomuser.me/api/portraits/women/11.jpg" />
        </div>
        <p>
          @{{ comment.user}}
          <span>{{ comment.created | timesince }}</span>
        </p>
      </a>
      {% if request.user == comment.user %}
      <div class="roomListRoom__actions">
        <a href="{% url 'delete-comment' comment.id %}">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <title>delete</title>
            <path
              d="M30 4h-8v-3c0-0.553-0.447-1-1-1h-10c-0.553 0-1 0.447-1 1v3h-8v2h2v24c0 1.104 0.897 2 2 2h20c1.103 0 2-0.896 2-2v-24h2v-2h-0zM12 2h8v2h-8v-2zM26.002 30l-0.002 1v-1h-20v-24h20v24h0.002z"
            ></path>
          </svg>
        </a>
      </div>
      {% endif %}
    </div>
    <div class="activities__boxContent">
      <p>
        replied to post
        <a href="{% url 'room' comment.room.id%}"
          >100 Days of code challenge!</a
        >
      </p>
      <div class="activities__boxRoomContent">{{comment.body}}</div>
    </div>
  </div>
  {% endfor %}
</div>
